$font: "Montserrat", sans-serif; 
$white-text: rgb(255, 255, 255);
$black-text: rgb(0, 0, 0);
$grey-text: #999999;
$bttns-backcolor: rgb(73, 133, 255);
$back-gradient:linear-gradient(90deg, #504dc2 0%, #5f12d0 100%);
